<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div>
            <h1>Estilo Dinâmico e Classe CSS 4</h1>    
        </div>
        <div class="caixa">
                <div class="demo" :style="{backgroundColor: cor}"></div>
                <div class="demo" :style="[meuEstilo, {height: altura}]"></div>
                <div class="demo" :style="[meuEstilo, {width: largura}]"></div>
                <div class="demo" :style="[meuEstilo, {width: largura, height: altura}]"></div>
                <div class="demo"></div>
        </div>
        <div>
                <input type="text" v-model="cor">
                <input type="text" v-model="largura">
                <input type="text" v-model="altura">
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                cor: 'red',
                largura: 100,
                altura: 100
            },
            computed: { //propriedade computada
                meuEstilo() {
                    return {
                        backgroundColor: this.cor,
                        width: `${this.largura}`,
                        height: this.altura + 'px',
                        border: '1px solid'
                    }
                }
            }
        })
    </script>
    <style>
        #app {
            /* display: flex;
            justify-content:space-around; */
        }
        .demo {
            width: 100px;
            height: 100px;
            background-color: gray
        }
        .girar {transform: rotate(45deg)}
        .girar2 {transform: rotate(-45deg)}
        .c1 {background-color: red;}
        .c2 {background-color: green;}
        .c3 {background-color: blue;}
        
    </style>
</body>

</html>